.task2a.container {
  max-width: 600px;
  margin: 0 auto;
}

.task2a .label {
  display: block;
  margin-top: 10px;
}

.task2a .input {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  box-sizing: border-box;
}

.task2a .button {
  margin-top: 30px;
}

.task2a .results {
  margin-top: 30px;
}
